<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tk.danliang.Simon">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Simon"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="tk.danliang.Simon.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="tk.danliang.Simon.GameActivity"
                  android:parentActivityName="tk.danliang.Simon.MainActivity"
                  android:label="Game">
        </activity>

        <activity android:name="tk.danliang.Simon.SettingsActivity"
            android:label="Settings"
            android:parentActivityName="tk.danliang.Simon.MainActivity">
        </activity>
    </application>

</manifest>